        body {
            font-family: "Montserrat", sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url('img/boulevard.webp');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;             
            transform: scale(0.75); /* 75% */
            transform-origin: center;
        }
        .message {
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 20px;
            border-radius: 35px;
            backdrop-filter: blur(5px);
        }
        .button-container {
            margin-top: 20px;
        }
        button {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
            font-weight: bold;
            padding: 20px 40px;
            font-size: 19px;
            border: none;
            border-radius: 17px;
            cursor: pointer;
            background-color: #38383870;
            backdrop-filter: blur(4px);
            color: white;
            transition: 0.5s;
        }
        button:hover {
            transition: 0.5s;
            background-color: #81818170;
            backdrop-filter: blur(4px);
        }

        h1 {
            position: relative;
            top: -9%;
        }

        h3 {
            position: relative;
            top: -20%;
        }

        bloq {
            text-decoration: underline;
        }

        azul {
            background-color: rgb(240, 255, 255);
            color: rgb(0, 110, 255);
        }
